* {
   
    
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}
.d-grid{
    display: grid;
}

/* header section */
.grid-header-section {
    background-color: red;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.grid-header-main {
    grid-template-columns: 2fr 1fr;
}

.grid-header-article {
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px;
}

.header-article {
    padding: 40px;
}

/* membership section */
.membership {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: blue;
} 

/* latest-post section */
.latest-post {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: lightslategray;
}

.supporters {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 400px;
} 

.advertisment {
    background-color: blue;
    width: 75%;
    margin: 30px auto;
}

.community-img {
    float: left;
    height: 100px;
    width: 25%;
}

.community-article {
    width: 75%;
}
.twitter {
    grid-template-columns: repeat(2,1fr 2fr);
    column-gap: 70px;
    row-gap: 100px;
    margin-right: 40px;
    margin-left: 40px;
}

.smashing-books {
    background-color: red;
    grid-template-columns: 75% 25%;
    justify-content: start;
}

.guides {
    grid-template-columns: 520px 520px;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
}
.c-guide {
justify-content: center;
line-height: 25px;
}
.smashing-books button,
.guides button {
    width: 300px;
    height: 50px;
    border-radius: 10px;
}
footer ul{
    
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
footer li {
    margin-right: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: fit-content;
    text-transform: capitalize;
}

footer p{
  align-self: center;
    max-width: 400px;
    text-justify: center;
}

.contact {
    grid-template-columns: 20% 60% 20%;
}

footer h4 {
    margin-left: auto;
    margin-right: auto;
}