body {
    font-family: 'Cabin', sans-serif;
    max-width: 1440px;
    margin: 0;
    padding: 0;
}

img {
    filter: grayscale(1);
}

nav {
    grid-template-columns: min-content 600px 100px 100px;
    grid-gap: 20px;
    align-items: center;
    background-color: silver;
    max-width: 100%;
    font-size: 20px;
    padding: 25px 10px;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: black;
}

nav ul {
    justify-content: space-between;
    list-style-type: none;
}

nav button {
    height: 50px;
    background-color: #505050;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

main {
    width: 100%;
}

footer {
    width: 90%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}
.d-grid{
    display: grid;
}

/* header section */
.logo {
    margin-left: 50px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.header-article img,
.cartoon img,
.twitter img {
    transform: rotate(-20deg);
}

.header-article img{
    width: 86px;
    height: 96px;
    border-radius: 10px;
}

.search-bar {
    position: relative;
}

.search-bar input {
    height: 40px;
    width: 200px;
}

.search-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.search-placeholder {
    position: absolute;
    left: 40px;
    top: 0;
    line-height: 40px;
    width: max-content;
    font-size: 20px;
}

.grid-header-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: rgb(56, 54, 54);
    color: white;
    font-size: 20px;
    position: relative;
}
.absolute {
    position: absolute;
    top: 30px;
    left: 35%;
    max-width: 400px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.absolute span {
    background-color: black;
}

.grid-header-main {
    grid-template-columns:  1fr;
}

.grid-header-main svg {
    padding-top: 55px;
    width: 40px;
    line-height: 40px;
    align-self: center;
}

.grid-header-main button{
    margin-top: 60px;
    margin-right: 30px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
}

.seriously {
    justify-self: end;
}

.grid-header-article {
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px;
    margin-top: 20px;
}

.header-article {
    padding: 40px;
    border-right: 1px solid #484848;
    border-bottom: 1px solid #484848;
    padding-top: 80px;
}

/* membership section */
.membership {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 500px;
    background: linear-gradient(black, #686868);
    position: relative;
    font-size: 20px;
    color: white;
} 

.membership article {
    width: 75%;
    margin-left: 100px;
    margin-top: 50px;
}

.membership button {
    background-color: black;
    height: 70px;
    width: 400px;
    color: white;
    font-size: 20px;
}

.cartoon {
    top: -80px;
    position: absolute;
    right: 200px;
}

.cartoon img {
    width: 250px;
    height: 322px;
}

/* latest-post section */
.latest-post {
  grid-template-columns: repeat(3,1fr);
  column-gap: 50px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.latest-post, 
.supporters,
.color-h5 {
    background-color: rgb(133, 131, 131);
}


.supporters {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 450px;
    padding-bottom: 60px;
    padding-top: 60px;
} 

.partners {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: white;
    max-width: 350px; 
}
.partners > h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-decoration: underline;
}

.partners article {
    font-size: 15px;
    font-weight: 400;
}

.color-h5 {
    font-size: 15px;
    font-weight: 400;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    align-items: center;
}

.color-h5 a,
.color-h5 a:visited {
    width: 100%;
    height: 40px;
    text-decoration: none;
    border-bottom: 4px solid black;
    font-size: 20px;
    display: block;
}

.color-h5 div {
    margin-left: auto;
    margin-right: auto;
}

.our-friends {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: white;
}

.smashing-members {
    background-color:  rgb(56, 54, 54);
    border-radius: 12px;
    padding: 30px 50px;
    width: 700px;
    align-items: center;
    height: 450px;
    color: white;
}

.smashing-members h2 {
    width: 600px;
    text-align: center;
    font-weight: 100;
}

.smashing-members button {
    height: 50px;
    width: 180px;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}

.smashing-members img {
    width: 258px;
    height: 290px;
}

.smashing-members a,
.smashing-members a:visited,
.color-h5 a, 
.color-h5 a:visited,
.ad-section a,
.ad-section a:visited {
    color: white;
}

.shopify-partners {
    border: 1px solid black;
    width: 250px;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: white;
}

.shopify-partners img {
    width: 150px;
}

.shopify-partners button {
    background-color: grey;
    width: 150px;
    height: 50px;
    color: white;
    margin: 0 50px;
}

.shopify-partners div button {
    color: white;
}

.ad-section {
    background-color: lightslategray;
    height: 1000px;
}

.ad-section a, 
.ad-section a:visited {
    font-size: 60px;
}

.advertisment {
    width: 75%;
    margin: 30px auto;
    text-align: center;
}

.advertisment h5 {
    font-size: 20px;
    max-width: 600px;
    margin-left: 150px;
}

.advertisment button {
    width: 250px;
    height: 60px;
    font-size: 20px;
    background-color: white;

}

.community-img {
    float: left;
    height: 100px;
    width: 25%;
}

.community-article {
    width: 75%;
}
.twitter {
    grid-template-columns: repeat(2,1fr 2fr);
    column-gap: 70px;
    row-gap: 100px;
    margin-right: 40px;
    margin-left: 40px;
}

.smashing-books {
    background-color: red;
    grid-template-columns: 75% 25%;
    justify-content: start;
}

.guides {
    grid-template-columns: 520px 520px;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 50px;
}

.c-guide {
justify-content: center;
line-height: 25px;
}

button {
    border-radius: 10px;
}

.smashing-books button,
.guides button {
    width: 300px;
    height: 50px;
}
footer ul{
    
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
footer li {
    margin-right: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: fit-content;
    text-transform: capitalize;
}

footer p{
  align-self: center;
    max-width: 400px;
    text-justify: center;
}

.contact {
    grid-template-columns: 20% 60% 20%;
}

footer h4 {
    margin-left: auto;
    margin-right: auto;
}